* {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.products-filter {
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.products-filter__item {
    flex: 0 1 calc(100%);
}

.filters-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
}

.products-filter__button {
    display: block;
    height: 34px;
    min-width: 140px;
    font-size: 14px;
}

.products-filter__button_selected {
    background-color: rgb(113, 160, 206);
}

.lb {
    min-width: 140px;
    font-size: 12px;
    text-align: left;
    padding-left: 30px;
}

.container {
    padding-top: 12px;
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: rgb(113, 160, 206);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.products-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 20px;
}

.products-container_center {
    margin-left: 15px;
    margin-right: 15px;
}

.product-item {
    padding: 21px;
    min-width: 200px;
    height: 443px;
    background-color: rgb(239, 239, 239);
}

/*.product-item:hover .product-item__description {*/
/*    margin-top: -63px;*/
/*    margin-bottom: 63px;*/
/*}*/

.products-container__product-item {
    float: left;
    position: relative;
    flex: 0 1 calc(100% - 20px);
    margin: 10px 10px 40px 10px;
}

.product-item_hidden {
    display: none;
}

.product-item_semitransparent {
    opacity: 50%;
}

.button {
    text-align: center;
    cursor:pointer;
    font-size: 12px;
    border: none;
    text-decoration: none;
}

.product-item__button {
    display: inline-block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button_theme_cart {
    background-color: rgb(113, 160, 206);
    color: white;
    height: 34px;
    width: 151px;
}

.button_theme_cart:hover {
    background-color: rgb(61, 120, 178);
}

.product-item__label-container {
    height: 33px;
    background-color: white;
    position: relative;
}

.label-container__label-new {
    position: absolute;
    top: 10px;
    left: 11px;

}

.label-new {
    display: inline-block;
    width: 31px;
    line-height: 17px;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(75, 166, 239);
}

.product-item__image-icons-container {
    position: relative;
}

.product-item__image {
    width: 100%;
    height: 238px;
    vertical-align: middle;
    background-size: cover;
    object-fit: contain;
    background-color: white;
}


.icons-container {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    width: 46px;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.circle {
    background-color: rgb(238, 238, 238);
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.circle:hover {
    background-color: rgb(218, 218, 218);
}

.icon__symbol {
    color: rgb(79, 77, 80);
    font-size: 26px;
    line-height: 46px;
    width: 46px;
}

.product-item_hide {
    opacity: 50%;
}

.product-item_hide .eye-icon_active_blue {
    color: rgb(48, 102, 174);
}

.product-item_compare .scale-icon_active_blue {
    color: rgb(48, 102, 174);
}

.product-item_favourite .heart-icon_active_red {
    color: rgb(213, 46, 31);
}

.products-container_hide-hidden-items .product-item_hide {
    display: none;
}

.product-item__description {
    position: relative;
    z-index: 1;
    height: 100px;
    background-color: white;
    line-height: 20px;
    transition: .25s;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.description__price {
    text-align: center;
    font-size: 14px;
}

.price_new {
    color: red;
}

.price_old {
    text-decoration: line-through;
    color: black;
}

.price_font_medium {
    font-size: 14px;
}

.description__category {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: grey;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description__product-name {
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.description__icons {
    right: 10px;
    top: 10px;
    position: absolute;
}

.icons {
    width: 46px;
    gap: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*rename*/
.icons_visible {
    visibility: visible;
}

.fa-stack {
    display: inline-block;
}

.icon_size {
    font-size: 23px;
    color: black;
}

* > .fa-hover-show,
*:hover > .fa-hover-hidden {
    display: none;
}

*:hover > .fa-hover-show {
    display: inline-block;
}


.score {
    font-size: 16px;
    overflow: hidden;
    text-align: center;
}

.score-wrap {
    display: inline-block;
    position: relative;
    height: 20px;
    text-align: left;
}

.stars-active .fa-star:first-child {
    padding-left: 2px;
}

.stars-active .fa-star:last-child {
    padding-right: 2px;
}

.score .stars-active {
    color: rgb(244, 184, 64);
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.score .stars-inactive {
    color: lightgray;
    position: absolute;
    top: 0;
    left: 2px;
    display: inline-block;
    overflow: hidden;
}

@media screen and (min-width: 600px) {
    .product-item {
        flex: 0 1 calc(50% - 20px);
        margin: 10px;
    }

    .products-filter__item {
        flex: 0 1 calc(50% - 5px);
    }
}

@media screen and (min-width: 850px) {
    .product-item {
        flex: 0 1 calc(33.33% - 20px);
        margin: 10px;
    }

    .products-filter__item {
        flex: 0 1;
    }

    .icons_visible {
        visibility: hidden;
    }

    .product-item__description {
        height: 135px;
        padding-top: 30px;
    }

    .product-item__button {
        bottom: 12px;
    }

    .product-item:hover .product-item__description {
        margin-top: -63px;
        margin-bottom: 63px;
    }

    .product-item:hover .icons_visible {
        visibility: visible;
    }
}

@media screen and (min-width: 1100px) {
    .product-item {
        flex: 0 1 calc(25% - 20px);
    }
}

@media screen and (min-width: 1250px) {
    .products-container_center {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}